@media screen and (min-width: 641px) {

  #menu-btn {
    display: none;
  }

  #main-nav {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 1.5rem;
    padding-top: 0;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

}
